<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="/public/styles/banheiro.css"/>
  <title>Principal</title>
</head>
<body>
  <nav>
    <div id="menu">
      <button type="button" id="botaoVoltar"  onclick="window.location.replace('../index.html')"      > Voltar </button>
      <img id="fio1" src="/assets/img/preto.jpg" alt="Fio1 não funcionol" >
      <img id="fio2" src="/assets/img/verde.jpg" alt="Fio2 não funcionol">
      <img id="fio3" src="/assets/img/branco.jpg" alt="Fio3 não funcionol">
      <img id="fio4" src="/assets/img/azul.jpg" alt="Fio4 não funcionol">
      <img id="fio5" src="/assets/img/marrom.jpg" alt="Fio5 não funcionol">
      <buttom type="buttom" id="resetar" onclick="resetButtom()">Resetar</buttom>

     </div>
  </nav>
  <h1>
    banheiro
  </h1>
 
<main>
  <img id="foto1" id="fio1Evento" src="/assets/img/chuveiro.jpg" alt="Foto1 não funcionol">
  <img id="foto2" src="/assets/img/vasoSanitario.jpg" alt="Foto2 não funcionol">
  <img id="foto3" src="/assets/img/tomada.jpg" alt="Foto3 não funcionol">
  <img id="foto4" src="/assets/img/lampada.jpg" alt="Foto4 não funcionol">
  <img id="foto5" src="/assets/img/interruptor.jpg" alt="Foto5 não funcionol">
<div>
<img id="MAIN1" src="/assets/img/ponto.png" alt="MAIN1 não funcionol">
<img id="MAIN2" src="/assets/img/ponto.png" alt="MAIN2 não funcionol">
<img id="MAIN3" src="/assets/img/ponto.png" alt="MAIN3 não funcionol">
<img id="MAIN4" src="/assets/img/ponto.png" alt="MAIN4 não funcionol">
<img id="MAIN5" src="/assets/img/ponto.png" alt="MAIN4 não funcionol">
<img id="MAIN6" src="/assets/img/ponto.png" alt="MAIN5 não funcionol">

<img id="L1" src="/assets/img/ponto.png" alt="L1 não funcionol">
<img id="L2" src="/assets/img/ponto.png" alt="L2 não funcionol">
<img id="L3" src="/assets/img/ponto.png" alt="L3 não funcionol">
<img id="L4" src="/assets/img/ponto.png" alt="L4 não funcionol">
</div>
  <div id="message" ></div>
</main>

<script src="/public/scripts/banheiro.js"></script>
</body>
</html>