<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="/public/styles/quarto.css"/>
  <title>Principal</title>
</head>
<body>
  <nav>
    <div id="menu">
      <button type="button" id="botaoVoltar"  onclick="window.location.replace('../index.html')"      > Voltar </button>
      <img id="fio1" src="/assets/img/preto.jpg" alt="Fio1 não funcionol" >
      <img id="fio2" src="/assets/img/verde.jpg" alt="Fio2 não funcionol">
      <img id="fio3" src="/assets/img/branco.jpg" alt="Fio3 não funcionol">
      <img id="fio4" src="/assets/img/azul.jpg" alt="Fio4 não funcionol">
      <img id="fio5" src="/assets/img/marrom.jpg" alt="Fio5 não funcionol">
      <buttom type="buttom" id="resetar" onclick="resetButtom()">Resetar</buttom>

     </div>
  </nav>
  <h1>
    quarto
  </h1>
  
</body>
</html>