*{
    padding: 0;
    margin: 0;
  
}

nav {
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 3rem;
    background-color: #c2babb;
  }

#foto1 {
   width: 4rem;
   height: 4rem;

   position:absolute;

   top:100px;
   left: 1000px;
}


#foto2 {
  width: 6rem;
  height:6rem;
  
   position:absolute;
  
   top:400px;
   left: 200px;
}

#foto3 {
   width: 3rem;
   height:3rem;
  
     
    
    
   position:absolute;
   top:300px;
    left: 500px;
}
  
#foto4 {
    width: 3rem;
    height:3rem;
      
    position:absolute;
      
     top:150px;
     left: 600px;
}


#foto5 {
    width: 3rem;
   height:3rem;
        
   position:absolute;
        
    top:300px;
     left: 700px;
}

#botaoVoltar{

   background-color:  #6864db;
    width: 5rem;
    height:3rem;
     border: none;
     cursor: pointer; /* define o cursor como um ponteiro */
     transition: background-color 0.2s; /* efeito de transição ao clicar */
        
}

#botaoVoltar:hover{
      background-color:  aqua;
}
  



 #fio1 {
      width: 2.5rem;
       height:3rem;
      transition: background-color 0.2s; /* efeito de transição ao clicar */
      cursor: pointer; /* define o cursor como um ponteiro */
}

#fio2 {
       width: 2.5rem;
      height:3rem;
       transition: background-color 0.2s; /* efeito de transição ao clicar */
        cursor: pointer; /* define o cursor como um ponteiro */
             
}

#fio3 {
        width: 2.5rem;
         height:3rem;
        transition: background-color 0.2s; /* efeito de transição ao clicar */
        cursor: pointer; /* define o cursor como um ponteiro */
}

#fio4 {
         width: 2.5rem;
          height:3rem;
          transition: background-color 0.2s; /* efeito de transição ao clicar */
         cursor: pointer; /* define o cursor como um ponteiro */
}

#fio5 {
         width: 2.5rem;
          height:3rem;
         transition: background-color\ 0.2s; /* efeito de transição ao clicar */
          cursor: pointer; /* define o cursor como um ponteiro */ 
}

#fio1:hover{

  width: 3rem;
  height:3.5rem;
  border-radius: 10%;
}
#fio2:hover{

  width: 3rem;
  height:3.5rem;
  border-radius: 10%;
}
#fio3:hover{

  width: 3rem;
  height:3.5rem;
  border-radius: 10%;
}
#fio4:hover{

  width: 3rem;
  height:3.5rem;
  border-radius: 10%;
}
#fio5:hover{

  width: 3rem;
  height:3.5rem;
  border-radius: 10%;
}

#menu{
  display:flex;
  position: absolute;
  gap: 2rem; /* espaço entre os itens */
}

#MAIN1 {
  width: 15px;
  height:15px;
  
  background-color: rgb(70, 70, 70);
   position:absolute;
  
   top:50px;
   left: 20px;
   cursor: pointer; /* define o cursor como um ponteiro */
   transition: background-color 0.2s; /* efeito de transição ao clicar */
 }
 #MAIN1:hover{

  width: 17px;
  height:17px;
  border-radius: 10%;
}
   #MAIN2 {
    width: 15px;
  height:15px;
  
  background-color: rgb(70, 70, 70);
     position:absolute;
    
     top:80px;
     left: 20px;
     cursor: pointer; /* define o cursor como um ponteiro */
 }

 #MAIN2:hover{

  width: 17px;
  height:17px;
  border-radius: 10%;
}

 #MAIN3 {
      width: 15px;
  height:15px;
  
  background-color: rgb(70, 70, 70);
       position:absolute;
      
       top:50px;
left: 1200px;
cursor: pointer; /* define o cursor como um ponteiro */
   }
   #MAIN3:hover{

    width: 17px;
    height:17px;
    border-radius: 10%;
  }
  #MAIN4 {
   width: 15px;
   height:15px;
        
   background-color: rgb(70, 70, 70);
        
  position:absolute;
        
  top:80px;
  left: 1200px;
 cursor: pointer; /* define o cursor como um ponteiro */
   
}
#MAIN4:hover{

  width: 17px;
  height:17px;
  border-radius: 10%;
}

 #MAIN10 {
  
    width: 1200px;
   height:15px;

   position:absolute;
          
   top:50px;
   left: 20px;
   cursor: pointer; /* define o cursor como um ponteiro */    
     filter: grayscale(100%)
     brightness(0);

}

#MAIN11 {
    width: 1200px;
    height:15px;
    
    position:absolute;
            
    top:50px;
    left: 20px;
   cursor: pointer; /* define o cursor como um ponteiro */    
   filter: grayscale(100%);
   
   filter: hue-rotate(120deg);
  
 }

#MAIN12 {
    width: 1200px;
     height:15px;
    background-color: rgb(246, 248, 247);
   position:absolute;
              
   top:50px;
   left: 20px;
   cursor: pointer; /* define o cursor como um ponteiro */    
   filter: brightness(700%)saturate(0);
    
}
 #MAIN13 {
      width: 1200px;
     height:15px;
     background-color: rgb(35, 16, 247);
     position:absolute;
                
      top:50px;
    left: 20px;
   cursor: pointer; /* define o cursor como um ponteiro */    
   filter: grayscale(100%);
   
   filter: hue-rotate(240deg);
}
 #MAIN14 {
    width: 1200px;
   height:15px;
    background-color: rgb(145, 70, 17);
   position:absolute;
                  
   top:50px;
   left: 20px;
  cursor: pointer; /* define o cursor como um ponteiro */    
             
  filter: sepia(1) saturate(2)brightness(0.5);
}


#MAIN15 {
  
  width: 1200px;
 height:15px;

 position:absolute;
        
 top:80px;
 left: 20px;
 cursor: pointer; /* define o cursor como um ponteiro */    
 filter: grayscale(100%)
 brightness(0);

}

#MAIN16 {
  width: 1200px;
  height:15px;
  background-color: rgb(12, 146, 32);
  position:absolute;
          
  top:80px;
  left: 20px;
 cursor: pointer; /* define o cursor como um ponteiro */    
     
 filter: grayscale(100%);
   
 filter: hue-rotate(120deg);
}

#MAIN17 {
  width: 1200px;
   height:15px;
  background-color: rgb(246, 248, 247);
 position:absolute;
            
 top:80px;
 left: 20px;
 cursor: pointer; /* define o cursor como um ponteiro */    
 filter: brightness(700%)saturate(0);
  
}
#MAIN18 {
    width: 1200px;
   height:15px;
   background-color: rgb(35, 16, 247);
   position:absolute;
              
    top:80px;
  left: 20px;
 cursor: pointer; /* define o cursor como um ponteiro */    
 filter: grayscale(100%);
   
 filter: hue-rotate(240deg);
    
}
#MAIN19 {
  width: 1200px;
 height:15px;
  background-color: rgb(145, 70, 17);
 position:absolute;
                
  top:80px;
 left: 20px;
cursor: pointer; /* define o cursor como um ponteiro */    
    filter: sepia(1) saturate(2)brightness(0.5);
      
}


#L1 {
  width: 10px;
  height:10px;
  
   position:absolute;
  
   top:150px;
   left: 600px;
   cursor: pointer; /* define o cursor como um ponteiro */
   }

   #L2 {
    width: 10px;
    height:10px;
    
     position:absolute;
    
     top:150px;
     left: 640px;
     cursor: pointer; /* define o cursor como um ponteiro */
     }


