body{

  background-color: rgb(66, 65, 65);

}

#title{

  color: aliceblue;

}
.retangulo {
 
  display: flex; /* define o layout como flexbox */
  position: relative;
   top: 150px;  /* meio vertical */
  left: 100px; /* meio horizontal */
}

#quadrado1 {
width: 150px; /* largura do retângulo */
  height: 100px; /* altura do retângulo */

}

#quadrado5 {
width: 200px; /* largura do retângulo */
  height: 150px; /* altura do retângulo */

}


#quadrado3 {
width: 120px; /* largura do retângulo */
  height: 100px; /* altura do retângulo */

}

#quadrado2 {
width: 200px; /* largura do retângulo */
  height: 100px; /* altura do retângulo */

}


#quadrado4 {
width: 300px; /* largura do retângulo */
  height: 150px; /* altura do retângulo */

}



.quadrado {
  width: 20%; /* largura de cada quadrado */
  height: 100%; /* altura de cada quadrado */
  background-color: #ccc; /* cor de fundo de cada quadrado */
  border: 1px solid #ddd; /* borda de cada quadrado */
  cursor: pointer; /* define o cursor como um ponteiro */
  transition: background-color 0.2s; /* efeito de transição ao clicar */
}

.quadrado:hover {
  background-color: #c9f713; /* cor de fundo ao passar o mouse */
}

.quadrado:active {
  background-color: #888; /* cor de fundo ao clicar */
}
